# Node
node_modules/
nest-backend/node_modules/
quasar-frontend/node_modules/

# Build
nest-backend/dist/
quasar-frontend/dist/
quasar-frontend/.quasar/

# Environment
.env
nest-backend/.env
quasar-frontend/.env

# DB
db/*.db-wal
db/*.db-shm
db/*.db
!db/.gitkeep

# System
.DS_Store
Thumbs.db